.posts-container {
}

.posts {

}

.post {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 1em;
}

.post img {
  max-width: 100%;
  height: auto;
}

.section-heading {
  font-size: 48px;
  font-weight: 300;
}

.post-heading {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.post-body {
  font-size: 24px;
}

.link {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

